body {
	margin: 0;
    background:#FDF9F3;
	color: #000;
	font-family:Century Gothic, sans-serif;
}
header {
	background:#3d3d3d;
	overflow: auto;
    margin-bottom: 2%;
}
main {
    background:#FDF9F3;
}

h1 {
	margin: 0;
	padding: 0.25em 12px;
    text-align: center;
    color: #fff;
    font-size:25px;
}

h2 {
    text-align: center;
    background:#3d3d3d;
    color: #fff;
    padding-top:1em;
    padding-bottom: 1em;
}

p {
    text-align: center;
}

main {
	padding: 0 12px;
}

#leftRight{
    margin-left:50%;
}

#SlideContainer{
    margin-left: auto;
    margin-right: auto;
    width:60;
}

.slideshow{
    width: 60%;
    margin: auto;
}

.Slides{
    width:100%;
    height:100%;
}
   


#nav-mobile {
	line-height: 1.75em;
	text-align: center;
	background: #d3d3d3;
	font-weight: bold;
}

#nav-main a {
	display: block;
	text-align: center;
	line-height: 1.75em;
	text-decoration: none;
	font-weight: bold;
	height: 0;
	opacity: 0;
	visibility: hidden;
	transition: height 0.4s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}

#nav-main:hover a {
	
	height: 1.75em;
	opacity: 1;
	visibility: visible;
}

nav a {
	display: inline-block;
	color: #000;
}
#nav-main a:hover {
	background:#d3d3d3;
}

#image_grid{
    display: inline-block;
    margin-left: 30%;
    margin-right: 20%;
}

.grid{
    height: 40%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.grid:hover{
    border-style: solid;
}

/*BREAKPOINT: larger than mobile*/
@media screen and (min-width: 580px) {
    h1{
        text-align: left;
        font-size:35px;
        padding-left: 20%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-decoration: overline;
        text-decoration-line:0.5px;
    }
	#nav-main {
		text-align: center;
	}
    
	#nav-main #nav-mobile {
		display: none;
	}
    
	#nav-main a {
		margin: 0;
		height: 0.75em;
		display: inline-block;
		visibility: visible;
		padding: 1em 1em;
		opacity: 1;
		border-left: 1px solid #000;
  
	}
    
	#nav-main a:hover {
		background: #eee;
	}
    
	#nav-main a:last-child {
		border-right: 1px solid #000;
	}
    
    #SlideContainer{
        padding-top: 2%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        
    }

    .slideshow{
        width: 60%;
        height: 40%;
        margin: auto;
        
    }

    .Slides{
        width: 100%;
        height: 100%;
        border-style: solid;
        border-width: thin;
    }
    
    #image_grid{
        display: inline-block;
        margin-left: 30%;
        margin-right: 20%;
    }

    .grid{
        height: 30%;
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .grid:hover{
        border-style: solid;
    }
   
}